<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.impetus.courses.bulletjournalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".EditJournalActivity"></activity>
        <activity android:name=".Activity.EditCollectionActivity" />
        <activity android:name=".Activity.SaveJournalPagesActivity" />
        <activity android:name=".Activity.JournalPagesActivity" />
        <activity
            android:name=".Activity.LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.FutureLogActivity" />
        <activity android:name=".Activity.CollectionsActivity" />
        <activity android:name=".Activity.SaveCollectionsActivity" />
        <activity android:name=".Activity.ProfileActivity" />
    </application>

</manifest>